---
import Divider from '../components/Divider.astro';
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';

const activities = [
	{
		title: 'Ceremonia Civil',
		description: 'Acomp치침anos a recibir la bendici칩n de Dios',
		img: '/img/activities/wedding-rings_9242346.png',
	},
	{
		title: 'Ceremonia',
		description: 'Acomp치침anos a recibir la bendici칩n de Dios',
		img: '/img/activities/church_515249.png',
	},
	{
		title: 'Recepci칩n',
		description: 'Acomp치침anos a recibir la bendici칩n de Dios',
		img: '/img/activities/wedding-arch_6585631.png',
	},
	{
		title: 'C칩ctel',
		description: 'Acomp치침anos a recibir la bendici칩n de Dios',
		img: '/img/activities/champagne_1270646.png',
	},
	{
		title: 'Cena',
		description: 'Acomp치침anos a recibir la bendici칩n de Dios',
		img: '/img/activities/dish_3998280.png',
	},
	{
		title: 'Baile',
		description: 'Acomp치침anos a recibir la bendici칩n de Dios',
		img: '/img/activities/dance_3929942.png',
	},
];
---

<Layout>
	<section class="relative bg-marfil font-playfairDisplay">

		<div class="relative h-svh w-svw">
			<img src="/img/galeria/DSC00149Edit_2.jpg" class="absolute w-full h-full object-cover z-0" alt="" srcset="">
			<div class="absolute inset-0 bg-black/25"></div>
			<div class="absolute w-full h-full flex flex-col justify-center items-center py-8 gap-3">
				<div class="absolute top-1/4 flex flex-col justify-center items-center">
					<h2 class="text-white text-5xl font-greatVibes">Fernanda y Ernesto</h2>
					<span class="text-white font-cinzelDecorative text-lg">S치bado, 15 Marzo del 2025</span>
				</div>
			</div>
		</div>

		<div class="w-full py-8">
			
			<Title text={'춰Nos casamos!'} />

			<div class="w-full flex flex-col justify-center items-center px-4 gap-2 mt-4 text-lg">
				<p class="text-center font-cinzelDecorative">Cada familia tiene una historia, bienvenidos a la nuestra.</p>
				<p class="text-center font-cinzelDecorative">
					Despu칠s de grandes aventuras, viajes y muchos sue침os e ilusiones,
					hemos decidido dar el siguiente paso en nuestro viaje juntos.
				</p>
				<p class="text-center font-cinzelDecorative">INVITACI칍N v치lida PARA:</p>
				<!-- <p class="text-center font-greatVibes text-5xl mt-4">Pedro Garcia Garcia</p> -->
				 <Title text={'Pedro Garcia Garcia'} />
				<p class="text-center font-cinzelDecorative text-2xl mt-4">5 pases  DISPONIBLES</p>
				<p class="text-center font-cinzelDecorative mt-4">Nos encantar칤a que nos acompa침aras a celebrar nuestro amor y compromiso.</p>
				<p class="text-center font-cinzelDecorative mt-4">Puedes llevar un acompa침ante, 쯖onfirmas su마sistencia?</p>

			</div>

			<div class="w-full text-xl flex flex-col justify-center items-center mt-4">
				<p class="text-center text-lg font-cinzelDecorative">
					Con el amor y apoyo de nuestros padres, te invitamos a ser testigo de nuestra uni칩n.
				</p>
			</div>
		</div>

		<!-- <div class="divide-y divide-solid"></div> -->
		<Divider />
		<!-- Padres -->
		
		<div class="w-full py-8">

			<div class="w-full flex flex-col justify-center items-center pt-4 gap-2">
				<!-- <h2 class="text-5xl font-greatVibes">Padres de la novia</h2> -->
				<Title text={'Padres de la novia'} />
				<div class="flex flex-col justify-center items-center font-cinzelDecorative text-lg">
					<p>J. Malaqu칤as Garcia Fonseca</p>
					<p>&</p>
					<p>Carmen Julia ChavezSantaCruz</p>
				</div>
			</div>

			<div class="w-full flex flex-col justify-center items-center pt-8 gap-2">
				<!-- <h2 class="text-5xl font-greatVibes">Padres del novio</h2> -->
				<Title text={'Padres del novio'} />
				<div class="flex flex-col justify-center items-center font-cinzelDecorative text-lg">
					<p>Jos칠 Ernesto Torres Remirez</p>
					<p>&</p>
					<p>Esmeralda Zamora Ibarra</p>
				</div>
			</div>

		</div>

		<Divider />

		<!-- ceremonia -->
		<div class="w-full p-4">
			<div class="w-full flex flex-col justify-center items-center gap-4">
				<div class="w-full flex flex-col justify-center items-center gap-2">
					<!-- <h2 class="font-greatVibes text-5xl">Ceremonia</h2> -->
					<Title text={'Ceremonia'} />
					<p class="text-center">S치bado, 15 de marzo del 2025.</p>
					<p class="text-center">12:00 PM</p>
					<p class="text-center">Iglesia San Carlos Borromeo</p>
					<!-- <p class="text-center">Principal 1, Zona Centro, 37700 San Miguel de Allende, Gto.</p> -->
				</div>

				<div class="w-full flex flex-col justify-center items-center gap-2">
					<Title text={'Recepci칩n'} />
					<p class="text-center">S치bado, 15 de marzo del 2025.</p>
					<p class="text-center">8:00 p.m.</p>
					<p class="text-center"> Jard칤n Quinta Zazueta.</p>
					<!-- <p class="text-center">Calle R칤o Mocorito 467, Colonia Prohogar, 21210 Mexicali, B.C.</p> -->
				</div>
			</div>
		</div>

		<!-- vestimenta -->
		<Divider />

		<div class="w-full p-4">
			<Title text={'C칩digo de vestimenta'} />
			<p class="text-center">Formal, pero con libertad para lucir espectaculares. Evita el Verde, Blanco y Rojo. 游녱游돜</p>

			<!-- <div class="flex flex-col justify-center items-center">
				<img class="w-1/2" src="/img/traje_1.png" alt="">
				<h2 class="text-2xl font-playfairDisplay">HOMBRES</h2>
				<p class="text-lg font-playfairDisplay">Traje y corbata</p>
			</div>

			<div class="flex flex-col justify-center items-center">
				<img class="w-3/4" src="/img/vestido.png" alt="">
				<h2 class="text-2xl font-playfairDisplay">MUJERES</h2>
				<p class="text-lg font-playfairDisplay">Vestido largo</p>
			</div> -->
		</div>

		<Divider />

		<div class="w-full p-4">
			<Title text={'Paso a paso'} />
			<div class="w-full flex flex-col justify-center items-center">
				<p class="text-center text-lg">Hemos planeado un d칤a lleno de diversi칩n, agradecemos tu puntualidad.</p>
			</div>
			<div class="grid grid-cols-2 gap-4 mt-2">
				{activities.map(({title,description,img}) => (
					<div class="flex flex-col justify-center items-center">
						<div class="flex flex-col justify-center items-center">
							<img class="w-1/3" src={img} alt="" />
							<h2 class="text-xl font-semibold font-cinzelDecorative">{title}</h2>
							<p class="text-center">{description}</p>
						</div>
					</div>
				))}
			</div>
		</div>

		<Divider />

		<div class="w-full p-4 flex flex-col justify-center items-center">
			<Title text={'Mesa de regalos'} />
			<div class="w-full flex flex-col justify-center items-center">
				<p class="text-center text-lg">Tu presencia es nuestro mejor regalo, pero si quieres tener un detalle con nosotros te damos algunas ideas.</p>
			</div>
			<div class="flex flex-col justify-center items-center mt-2 w-full gap-2">
				<div class="flex flex-col justify-center items-center w-full shadow-md p-4 gap-2">
					<img class="w-5/12" src="https://invitarte.me/wp-content/uploads/2024/06/Logo-liverpool-1.png" alt="" srcset="">
					<Divider />
					<div class="flex flex-row justify-center items-center w-full">
						<a class="w-1/2 flex flex-row justify-center " href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51586000">
							<button class="text-sm bg-black text-white p-3 w-3/4">
								Ver Mesa
							</button>
						</a>
					</div>
				</div>

				<div class="flex flex-col justify-center items-center w-full shadow-md p-4 gap-2">
					<img class="w-4/12" src="/img/amazon_2.png" alt="" srcset="">
					<Divider />
					<div class="flex flex-row justify-center items-center w-full">
						<a class="w-1/2 flex flex-row justify-center " href="https://www.amazon.com.mx/wedding/registry/3BH8ZXQTIOGI9">
							<button class="text-sm bg-black text-white p-3 w-3/4">
								Ver Mesa
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>


	</section>
</Layout>
